.shop{
    @include responsive-mob{
        .title{
            color: blue;
        }
    }

}
.mm{
    background-color: black;
    width: 200px;
    height: 200px;
    display: block;
    color: white;
}
